
<div class="row">
    @{
        foreach (KeepCalmAndMIC.Models.WeekViewModel w in Model.Weeks)
        {
            if (w.IsPassed)
            {
                <div class="col-sm-1" style="background-color:red">
                    @Html.Label(w.WeekNumber.ToString())
                </div>
            }
            else
            {
                <div class="col-sm-1" style="background-color:green">
                    @Html.Label(w.WeekNumber.ToString())
                </div>
            }
        }
    }
</div>
       


   