
<div class="row">
    @{
        foreach (KeepCalmAndMIC.Models.WeekViewModel w in Model.Weeks)
        {
            if (w.IsPassed)
            {
                <div class="col-sm-1" style="background-color:red">
                    <input type="button" value="@w.WeekNumber" onclick="location.href='@Url.Action("SelectWeek","Play",new {week = @w})'" />
                    @*@Html.Label(w.WeekNumber.ToString())*@
                </div>
            }
            else
            {
                <div class="col-sm-1" style="background-color:green">
                    @Html.Label(w.WeekNumber.ToString())
                </div>
            }
        }
    }
</div>
       


   