
<table class="table-responsive" width="1024">
    <tr>
        @{
            foreach (KeepCalmAndMIC.Models.WeekViewModel w in Model.Weeks)
            {
                if (w.IsPassed)
                {
                    <tr class="weekActive" style:width="68">
                        @Html.Label(w.WeekNumber.ToString())
                    </tr>
                }
                else
                {
                    <tr class="weekInactive" style:width="68">
                        @Html.Label(w.WeekNumber.ToString())
                    </tr>
                }
            }
        }
    </tr>
</table>

   