<div class="row">
    <di class="col-md-4">
        <div class="row">
            <div class="stats">
                Production
            </div>
            <div class="stats">
                Learnings
            </div>
            <div class="stats">
                Ambiance
            </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">

    </div>
</div>