@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<div class="greyBackgroundColor">
    <p>
        This game has been developped during the Tech'Office Hackaton from 2017 at the Microsoft Innovation Center Belgique.
        The theme was <strong>Make Your Office Great Again !</strong>
    </p>
    <a href="http://www.mic-belgique.be">Microsoft Innovation Center Belgique</a>
</div>
<h3>Makers</h3>
<div class="row greyBackgroundColor">
    <div class="col-md-3">
        <h4>Augustin BOCKEN</h4>
        <p>.NET developper</p>
        <a href="https://www.linkedin.com/in/augustin-bocken-4b0a98139/">LinkedIn</a>
    </div>
    <div class="col-md-3">
        <h4>Morgan DREZE</h4>
        <p>.NET developper</p>
        <a href="https://www.linkedin.com/in/morgan-dreze-06832493/">LinkedIn</a>
    </div>
    <div class="col-md-3">
        <h4>Adrien DONNAY</h4>
        <p>.NET developper</p>
        <a href="https://www.linkedin.com/in/adrien-donnay-53812113b/">LinkedIn</a>
    </div>
    <div class="col-md-3">
        <h4>Barbara LINON</h4>
        <p>Versatile artist</p>
        <a href="https://www.linkedin.com/in/barbara-linon-b792b495/">LinkedIn</a>
    </div>
</div>

