@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Keep Calm And MIC !</h1>
    <p class="lead">Manage your team of interns to make the best internship ever !</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Finish your products</h2>
        <p>
            It's because the MIC makes the best prototypes that people keep coming to ask for services. Manage your interns and
            produce solutions using the best technologies out there !
        </p>
    </div>
    <div class="col-md-4">
        <h2>Teach your interns</h2>
        <p>If you want cutting-edge technology, you need cutting-edge interns : form them, manage them, and bring them to the top !</p>
    </div>
    <div class="col-md-4">
        <h2>Have an incredible time !</h2>
        <p>Networking is where you are the best. Create great memories, and unbreakable bonds between your interns !</p>
    </div>
</div>