body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image:url(/Ressources/BG.jpg);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

weekActive td{
    background-color: tomato;
    width: 68px;
    padding : 34px;
}
weekInactive td{
    background-color: green;
    width: 68px;
    padding: 34px;
}
stats{
    padding-right: 30px;
    padding-left : 30px;
    background-color : deepskyblue;
}
dayInformations{
    width: 100%;
    background-color: lightblue;
}

.selected {
    border: 2px solid Blue;
}

.greyBackgroundColor {
    background-color: #eee;
    
    
}
.minHeight210 {
    min-height: 210px;
    margin-right: 20px;
}
.scoreboard{
    min-height:250px;
}
.box1{
    background-image: url(/Ressources/Box1.jpg);
    padding : 12px;
    background-size:cover;
    background-repeat:round;
}
.box2 {
    padding: 12px;
    background-size: cover;
    background-repeat: round;
    background-image: url(/Ressources/Box2.jpg);
}
.Menu {
    padding: 12px;
    background-size: cover;
    background-repeat: round;
    background-image: url(/Ressources/Menu.jpg);
}