@model KeepCalmAndMIC.Models.ViewModels.StatsOfWeekAndDayViewModel

<div class="row">
    <div class="col-md-3 stats ">
        Acquired skills :
    </div>
    <div class="col-md-3 stats ">
        <h3>42</h3>  // ici :
    </div>
    <div class="col-md-3 stats ">
        Productivity :
    </div>
    <div class="col-md-3 stats ">
        <h3>42</h3>  // ici :
    </div>
</div>
<div class="row">
    <div class="col-md-3 stats ">
        Projects Progresses :
    </div>
    <div class="col-md-3 stats ">
        <h3>42</h3> // ici :
    </div>
    <div class="col-md-3 stats ">
        Mutual Aid :
    </div>
    <div class="col-md-3 stats ">
        <h3>42</h3> // ici :
    </div>
</div>
<div class="row">
    <div class="col-md-3 stats">
        Ambiance :
    </div>
    <div class="col-md-3 stats">
        <h3>42</h3> // ici :
    </div>
    <div class="col-md-3 stats ">
        Technical skills :
    </div>
    <div class="col-md-3 stats ">
        <h3>42</h3> // ici :
    </div>
</div>
