
@{
    ViewBag.Title = "Keep Calm And MIC !";
}
    <h1>@ViewBag.Title</h1>

    @Html.Partial("_ProgressView", (KeepCalmAndMIC.Models.ViewModels.ProgressViewModel)ViewBag.ProgressViewModel)
    

<div class="row">
    @Html.Partial("_TimeView", (KeepCalmAndMIC.Models.ViewModels.TimeViewModel)ViewBag.TimeViewModel)

    @Html.Partial("_CardsView", (KeepCalmAndMIC.Models.ViewModels.CardsViewModel)ViewBag.CardsViewModel)

</div>

