@model KeepCalmAndMIC.Models.ViewModels.PlayViewModel

@{
    ViewBag.Title = "Keep Calm And MIC !";
}

<section id="timeline">
    @Html.Partial("_ProgressView", Model.timeViewModel)
</section>

<section id="weekZoom">
    @Html.Partial("_StatsOfWeekAndDay", Model.statsOfWeekAndDayViewModel)
</section>

<section id="ActionCards">
    @Html.Partial("_CardsView", Model.cardsViewModel)
</section>
